<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2023-06-09T04:35:33Z</date>
	<key>WorkspacePath</key>
	<string>/Users/anbar/Desktop/dev/xcode/client/ios/App/App.xcodeproj</string>
</dict>
</plist>
