extends layout

block content
    a(href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=23QYBD&scope=activity+cardio_fitness+electrocardiogram+heartrate+location+nutrition+oxygen_saturation+profile+respiratory_rate+settings+sleep+social+temperature+weight&redirect_uri=http%3A%2F%2Flocalhost%3A9000%2FfitbitAuthCallback") Login to Fitbit